<!DOCTYPE html>

<html>

    <head>
        <title>My todolist</title>
        <style>
            a {
                text-decoration: none;
                color: blue;
            }
            
            .back {
                    position: fixed;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url("Images/t1.jpg");
                    filter: grayscale(30%);
                    //filter: blur(1px);
                    //-webkit-filter: blur(1px);
                    background-size: cover;
  
  
                    }

        </style>
    </head>

    <body>
        <h1>My todolist</h1>
        <ul>
            <% todolist.forEach(function(todo, index) { %>
            <li>
                <a href="/todo/delete/<%= index %>">✘</a>
                <a href="/todo/<%= index %>">✎</a>
                <%- todo %>
            </li>
            <% }); %>
        </ul>

        <form action="/todo/add/" method="post">
            <p>
                <label for="newtodo">What shoud I do?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" value="Add" />
            </p>
        </form>
    </body>

</html>
